services:
    -
        class: EdhrendalSfTools\PHPStan\Rules\Symfony\Controller\ControllerInvokableRule
        arguments:
            rootAllowedDomains: %edhrendal.symfony.controller.rootAllowedDomains%
            excludedClassesFile: %edhrendal.symfony.controller.excludedClassesFile%
        tags:
            - phpstan.rules.rule
