services:
    -
        class: EdhrendalSfTools\PHPStan\Rules\Doctrine\Repository\NoRepositoryMagicMethodRule
        arguments:
            strict: %edhrendal.doctrine.repository.strict%
        tags:
            - phpstan.rules.rule

parametersSchema:
    edhrendal: structure([
        doctrine: structure([
            repository: structure([
                strict: bool()
            ])
        ])
    ])

parameters:
    edhrendal:
        doctrine:
            repository:
                strict: false
