services:
    -
        class: EdhrendalSfTools\PHPStan\Rules\Doctrine\Repository\NoRepositoryMagicMethodRule
        arguments:
            strict: %edhrendal.doctrine.repository.strict%
        tags:
            - phpstan.rules.rule
