services:
    -
        class: EdhrendalSfTools\PHPStan\Rules\Php\NamedArgumentsRule
        arguments:
            forceNamed: %edhrendal.php.namedArguments.forceNamed%
            forceSingleRequired: %edhrendal.php.namedArguments.forceSingleRequired%
        tags:
            - phpstan.rules.rule
